.App {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "matrix sidebar";
  grid-gap: 10px;
  background-color: #383841;
  color: #f3f3f3;
}

.App .EisenhowerMatrix {
  grid-area: matrix;
}

.App .TaskSidebar {
  grid-area: sidebar;
}
